<h3>Bem vindo ao sistema de importação de vendas!</h3>

<div class="jumbotron">
  <nav aria-label="...">
    <ul class="pager">
      <li>
        <h5>Para importar arquivo clique no botão abaixo.</h5>
        <a href="<%= new_upload_path %>">Importar arquivo</a>
      </li>
    </ul>
  </nav>
</div>
